idea
.DS_Store
.local.env
__pycache__/
__pypackages__/
.env
__pycache__/
*.py[cod]
.idea/
db.sqlite3
.pytest_cache/
.env
.pdm.toml
.vscode
.pdm-python
static/
media/
.venv/
django.log
celerybeat-schedule
