DJANGO_SECRET_KEY=django-insecure-!m4x6*k=_+6q-5%p)s!mv9rr=3x=%@a!b2gtn)&!%9^a^7vacp
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
CORS_ORIGIN_WHITELIST=http://localhost:3000
DB_CONNECTION={"dbname":"backend","username":"backend","password":"backend","host":"db","port":5432}
